* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

.btn {
  font-size: 30px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: #7800e5;
}

.timer {
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #7900E5;
}

.timer div {
  text-align: center;
  padding: 15px;
}

.timer div p {
  font-size: 30px;
  color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #000;
}

.timer div span {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */