*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    font-size: 30px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #7800e5;
}
.timer{
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7900E5;
    div{
        text-align: center;
        padding: 15px;
        p{
            font-size: 30px;
            color: #fff;
            margin-bottom: 15px;
            padding: 15px;
            border-radius: 10px;
            background-color: #000;
        }
        span{
            color: #fff;
        }
    }
}